<!-- Logo Header -->
<div class="logo-header">
    <a href="{{ path('app_default_index') }}" class="logo">
        <h3 class="main-title" style="margin-top:17.5px;margin-left: 15px;color: white">{{ commonground_application()['organization']['name'] }}</h3>
    </a>
    <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse"
            aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
    </button>
</div>
<!-- End Logo Header -->
