{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card p-4 full-height">
                    <table class="table table-hover">
                        <tr>
                            <th>Beschikbare extra's</th>
                            <td style="padding: 5px 25px 5px 25px !important;">Trouwboek<br>
                                Ringen
                            </td>
                            <td>
                                <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                        class="btn btn-primary"
                                        data-toggle="modal" data-target="#extrasModal"><i style=""
                                                                                            class="fas fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>Verplichte onderdelen</th>
                            <td style="padding: 5px 25px 5px 25px !important;">Ceremonie<br>
                                Partner<br>
                                Plechtigheid<br>
                                Datum<br>
                                Locatie<br>
                                Ambtenaar<br>
                                Getuigen<br>
                                Extra's
                            </td>
                            <td>
                                <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                        class="btn btn-primary"
                                        data-toggle="modal" data-target="#verplichtModal"><i style=""
                                                                                            class="fas fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>Deadline aanpassingen</th>
                            <td>21 dagen voor het huwelijk</td>
                            <td>
                                <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                        class="btn btn-primary"
                                        data-toggle="modal" data-target="#deadlineModal"><i style=""
                                                                                            class="fas fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

    {#  Modals #}

    <div class="modal fade" style="text-align: center" id="babsenModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Beschikbare babsen wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <form>
                        <p><b>Babsen uitschakelen <i style="color: #F25961" class="fas fa-trash"></i></b></p>
                        <p style="margin-top: -17.5px;color: gray;">Hou "ctrl" ingedrukt om meerdere personen tegelijk
                            te selecteren.</p>
                        <select multiple="" class="form-control">
                            <option>Dhr. Erik Hendirk</option>
                            <option>Dhr. Rene Gulje</option>
                            <option>Mvr. Ike van den Pol</option>
                        </select>


                        <button type="button" class="btn btn-danger float-right m-3">
                            Verwijderen
                        </button>

                    </form>

                    <form>
                        <p style="margin-top:80px;"><b>Babsen activeren <i style="color:limegreen"
                                                                           class="fas fa-check"></i></b>
                        </p>
                        <select multiple="" class="form-control">
                        </select>

                        <button type="button" class="btn btn-success float-right m-3">
                            Accepteren
                        </button>

                    </form>
                </div>
                <div class="modal-footer">
                    <button style="width: 40%;" type="button" class="btn btn-danger m-auto" data-dismiss="modal">
                        Annuleren
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="locatiesModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Beschikbare locaties wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <form>
                        <p><b>Locaties uitschakelen <i style="color: #F25961" class="fas fa-trash"></i></b></p>
                        <p style="margin-top: -17.5px;color: gray;">Hou "ctrl" ingedrukt om meerdere locaties tegelijk
                            te selecteren.</p>
                        <select multiple="" class="form-control">
                            <option>Stadskantoor</option>
                            <option>Stadhuis grote zaal</option>
                            <option>Stadhuis kleine zaal</option>
                        </select>


                        <button type="button" class="btn btn-danger float-right m-3">
                            Deactiveer
                        </button>
                    </form>

                    <form>
                        <p style="margin-top:80px;"><b>Locaties activeren <i style="color:limegreen"
                                                                             class="fas fa-check"></i></b>
                        </p>
                        <select multiple="" class="form-control">
                        </select>

                        <button type="button" class="btn btn-success float-right m-3">
                            Activeer
                        </button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button style="width: 40%;" type="button" class="btn btn-danger m-auto" data-dismiss="modal">
                        Annuleren
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="extrasModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Beschikbare extra's wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <form>
                        <p><b>Extra's toevoegen <i style="color: limegreen" class="fas fa-plus"></i></b></p>
                        <p><b>Naam:</b></p>
                        <input class="form-control" type="text">
                        <p style="margin-top: 15px !important;"><b>Beschrijving:</b></p>
                        <input class="form-control" type="text">
                        <p style="margin-top:15px;"><b>Prijs:</b></p>
                        <p class="d-inline-block" style="margin: 0 5px 0 30% !important;">€ </p>
                        <input class="d-inline-block form-control" style="width: 17.5%;" type="text">

                        <button type="button" class="btn btn-success float-right m-3" style="margin-top: 60px !important;">
                            Toevoegen
                        </button>
                    </form>

                    <form>
                        <p style="margin-top: 80px !important;"><b>Extra's uitschakelen <i style="color: #F25961" class="fas fa-trash"></i></b></p>
                        <p style="margin-top: -17.5px;color: gray;">Hou "ctrl" ingedrukt om meerdere extra's tegelijk
                            te selecteren.</p>
                        <select multiple="" class="form-control">
                            <option>Trouwboek</option>
                            <option>Ringen</option>
                            <option></option>
                        </select>


                        <button type="button" class="btn btn-danger float-right m-3">
                            Deactiveer
                        </button>
                    </form>

                    <form>
                        <p style="margin-top:80px;"><b>Extra's activeren <i style="color:limegreen"
                                                                             class="fas fa-check"></i></b>
                        </p>
                        <select multiple="" class="form-control">
                        </select>

                        <button type="button" class="btn btn-success float-right m-3">
                            Activeer
                        </button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button style="width: 40%;" type="button" class="btn btn-danger m-auto" data-dismiss="modal">
                        Annuleren
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="verplichtModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Verplichte onderdelen wijzigen</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <form>
                        <p><b>Onderdelen niet verplicht maken <i style="color: #F25961">X</i></b></p>
                        <p style="margin-top: -17.5px;color: gray;">Hou "ctrl" ingedrukt om meerdere onderdelen tegelijk
                            te selecteren.</p>
                        <select multiple="" class="form-control">
                            <option>Ceremonie</option>
                            <option>Partner</option>
                            <option>Plechtigheid</option>
                            <option>Datum</option>
                            <option>Locatie</option>
                            <option>Ambtenaar</option>
                            <option>Getuigen</option>
                            <option>Extra's</option>
                        </select>


                        <button type="button" class="btn btn-danger float-right m-3">
                            Deactiveer
                        </button>
                    </form>

                    <form>
                        <p style="margin-top:80px;"><b>Onderdelen verplicht maken <i style="color:limegreen"
                                                                             class="fas fa-check"></i></b>
                        </p>
                        <select multiple="" class="form-control">
                            <option>Betalen</option>
                        </select>

                        <button type="button" class="btn btn-success float-right m-3">
                            Activeer
                        </button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button style="width: 40%;" type="button" class="btn btn-danger m-auto" data-dismiss="modal">
                        Annuleren
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="text-align: center" id="deadlineModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Deadline bijwerken</b></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body p-4">

                    <form>
                        <p><b>Laatste aanpassing mogelijk:</b></p>
                        <input style="width: 60px !important; margin-left: 19.5%; margin-right: 5px"
                               class="form-control d-inline-block">
                        <p class="d-inline-block"> dagen voor het huwelijk</p>

                        <button style="margin-top: 80px !important;" type="button"
                                class="btn btn-success float-right m-3">
                            Wijzigen
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button style="width: 40%;" type="button" class="btn btn-danger m-auto" data-dismiss="modal">
                        Annuleren
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
