{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card p-4 full-height">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Nieuwe Functies/Rollen</th>
                            <th>Huidige Functies/Rollen</th>
                            <th><button style="float: right" class="btn btn-success">Opslaan</button></th>
                        </tr>
                        </thead>
                        <tr>
                            <td>Dhr Erik Hendrik</td>
                            <td>
                                <form>
                                    <select style="padding: 5px;" multiple="" class="form-control" id="exampleFormControlSelect1">
                                        <option>Trouwambtenaar</option>
                                        <option>Medewerker</option>
                                        <option>Beheerder</option>
                                    </select>
                                </form>
                            </td>
                            <td>Medewerker<br>
                                Trouwambtenaar<br>
                                Beheerder<br></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mvr Ike van den Pol</td>
                            <td>
                                <form>
                                    <select style="padding: 5px;" multiple="" class="form-control" id="exampleFormControlSelect1">
                                        <option>Trouwambtenaar</option>
                                        <option>Medewerker</option>
                                        <option>Beheerder</option>
                                    </select>
                                </form>
                            </td>
                            <td>Trouwambtenaar</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dhr Rene Gulje</td>
                            <td>
                                <form>
                                    <select style="padding: 5px;" multiple="" class="form-control" id="exampleFormControlSelect1">
                                        <option>Trouwambtenaar</option>
                                        <option>Medewerker</option>
                                        <option>Beheerder</option>
                                    </select>
                                </form>
                            </td>
                            <td>Trouwambtenaar</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

{% endblock %}
