{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <table class="table table-hover">
                                <tr>
                                    <th>Plechtigheid</th>
                                    <td>Partnerschap</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Datum</th>
                                    <td>10-2-2020</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Tijdstip</th>
                                    <td>10:50 - 11:50</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Locatie</th>
                                    <td>Utrecht, stadhuiz grote zaal</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Getuigen</th>
                                    <td>Annemarijn van Helvert<br>
                                        Clinton gavey<br>
                                        Miley Sinclair</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Extra's</th>
                                    <td>Trouwboek</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-4 full-height">
                            <table class="table table-hover">
                                <tr>
                                    <th>Datum verzoek verzonden</th>
                                    <td>15-1-2020</td>
                                </tr>
                                <tr>
                                    <th>Tijdstip verzoek verzonden</th>
                                    <td>16:30</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <div class="card p-4">
                            <table class="table">
                                <tr>
                                    <td><button style="float: right" class="btn btn-success">Accepteren</button></td>
                                    <td><button style="float: right" class="btn btn-danger">Afwijzen</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

            {% include 'footer.html.twig' %}

        </div>
    </div>

{% endblock %}
