{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card full-height p-4">
                    <div style="margin-bottom: 10px" class="card-header">
                        <form>
                            <select style="width: 33.33%;" class="form-control d-inline-block">
                                <option>Stadhuis grote zaal</option>
                                <option>Stadhuis kleine zaal</option>
                                <option>Stadskantoor</option>
                            </select>
                            <button style="margin-top: -3px;margin-left: 20px;height: 40px" type="button" class="btn btn-primary">Filter</button>
                        </form>
                    </div>

                    <div id="calendar"></div>


                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

    <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="margin: auto" id="modalTitle" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body">
                    <p style="text-align: center;" id="huwelijkStel"></p>
                    <p style="text-align: center;"><b>Trouwambtenaar</b></p>
                    <p style="text-align: center; margin-top: -15px" id="huwelijkBabs"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" style="color: white" id="huwelijkLink" href="" target="_blank">Huwelijk</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}


<script>
/* initialize the calendar
-----------------------------------------------------------------*/
var a = document.getElementById('huwelijkLink');
$(document).ready(function () {
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var className = Array('fc-primary', 'fc-danger', 'fc-black', 'fc-success', 'fc-info', 'fc-warning', 'fc-danger-solid', 'fc-warning-solid', 'fc-success-solid', 'fc-black-solid', 'fc-success-solid', 'fc-primary-solid');

    $calendar = $('#calendar');
    $calendar.fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay,listWeek'
        },

        // Show modal on eventClick
        eventClick:  function(calEvent, jsEvent, view, ) {
            $("#modalTitle").html(calEvent.title);
            $("#huwelijkStel").html(calEvent.huwelijk);
            $("#huwelijkBabs").html(calEvent.babs);
            a.href = calEvent.link;
            $("#fullCalModal").modal();

            if(calEvent.url) {
              return false;
            }
        },

        selectable: true,
        selectHelper: true,
        select: function (start, end) {

            // on select we show the Sweet Alert modal with an input
            swal({
                title: 'Create an Event',
                html: '<br><input class="form-control" placeholder="Event Title" id="input-field">',
                content: {
                    element: "input",
                    attributes: {
                        placeholder: "Event Title",
                        type: "text",
                        id: "input-field",
                        className: "form-control"
                    },
                },
                buttons: {
                    cancel: true,
                    confirm: true,
                },
            }).then(
                function () {
                    var eventData;
                    var classRandom = className[Math.floor(Math.random() * className.length)];
                    event_title = $('#input-field').val();

                    if (event_title) {
                        eventData = {
                            title: event_title,
                            start: start,
                            className: classRandom,
                            end: end
                        };
                        $calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
                    }

                    $calendar.fullCalendar('unselect');
                }
            );
        },
        businessHours: {
            // days of week. an array of zero-based day of week integers (0=Sunday)
            daysOfWeek: [1, 2, 3, 4, 5], // Monday - Thursday

            startTime: '9:00', // a start time (10am in this example)
            endTime: '18:00', // an end time (6pm in this example)
        },
        events: [
            {
                title: 'Stadhuis grote zaal',
                start: new Date(2020, 1, 10, 10, 50),
                end: new Date(2020, 1, 10, 12, 20),
                allDay: false,
                huwelijk: 'M. Timmers en A. de Kieft',
                babs: 'Dhr. Erik Hendrik',
                link: '{{ path("app_babs_melding") }}',
                className: 'fc-danger-solid',
                description: 'Huwelijk M. Timmers en A. de Kieft '
            },
            {
                title: 'Stadhuis kleine zaal',
                start: new Date(2020, 1, 10, 12, 50),
                end: new Date(2020, 1, 10, 14, 20),
                allDay: false,
                className: 'fc-danger-solid',
                description: 'Locatie stadhuis grote zaal'
            },
            {
                title: 'Stadhuis grote zaal',
                start: new Date(2020, 1, 10, 14, 50),
                end: new Date(2020, 1, 10, 16, 20),
                allDay: false,
                className: 'fc-danger-solid',
                description: 'Locatie stadhuis grote zaal'
            },
            {
                title: 'Stadhuis grote zaal',
                start: new Date(2020, 1, 11, 10, 50),
                end: new Date(2020, 1, 11, 12, 20),
                allDay: false,
                className: 'fc-danger-solid',
                description: 'Locatie stadhuis grote zaal'
            },
            {
                title: 'Stadhuis kleine zaal',
                start: new Date(2020, 1, 11, 12, 50),
                end: new Date(2020, 1, 11, 14, 20),
                allDay: false,
                className: 'fc-danger-solid',
                description: 'Locatie stadhuis grote zaal'
            },
            {
                title: 'Stadhuis kleine zaal',
                start: new Date(2020, 1, 12, 12, 50),
                end: new Date(2020, 1, 12, 14, 20),
                allDay: false,
                className: 'fc-danger-solid',
                description: 'Locatie stadhuis grote zaal'
            },
            {
                title: 'Stadhuis grote zaal',
                start: new Date(2020, 1, 12, 12, 50),
                end: new Date(2020, 1, 12, 14, 20),
                allDay: false,
                className: 'fc-danger-solid',
                description: 'Locatie stadhuis grote zaal'
            },
            {
                title: 'Stadhuis grote zaal',
                start: new Date(2020, 1, 12, 14, 50),
                end: new Date(2020, 1, 12, 16, 20),
                allDay: false,
                className: 'fc-danger-solid',
                description: 'Locatie stadhuis grote zaal'
            }
        ]
    });

});
</script>
{% endblock %}
