{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card full-height">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Partners</th>
                            <th scope="col">Locatie</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Babs</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
{#                        {% for index, request in resources %}#}
                        <tr>
{#                            <td>{{ request.submitters }}</td>#}
                        </tr>
{#                        {% endfor %}#}
                        <tr>
                            <td>Martin Timmers en Anita Henrika de Kieft</td>
                            <td>Utrecht, Stadhuis grote zaal</td>
                            <td>10-2-2020</td>
                            <td>Dhr. Erik Hendrik</td>
                            <td style="">In behandeling</td>
                            <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px" href="{{ path('app_babs_medewerkerhuwelijk') }}"><b>MEER INFO</b></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

{% endblock %}
