{% extends "body.html.twig" %}

{% block content %}

    <style>
        th {
            width: 33.33%;
        }
    </style>

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' %}

            <div class="page-inner">
                <div class="row">
                    <div style="margin-top: -50px;" class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h2>Tarieven</h2>
                            </div>
                            <table class="table table-hover">
                                <tr>
                                    <th>Eenvoudig trouwen</th>
                                    <td>€ 163.00</td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#tariefModal"><i style=""
                                                                                                  class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Trouwen / partnerschap</th>
                                    <td>€ 627.00</td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#tariefModal"><i style=""
                                                                                                  class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Ringen</th>
                                    <td>€ 10.00</td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#tariefModal"><i style=""
                                                                                                  class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Trouwboekje</th>
                                    <td>€ 30.20</td>
                                    <td>
                                        <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                                                class="btn btn-primary"
                                                data-toggle="modal" data-target="#tariefModal"><i style=""
                                                                                                  class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html.twig' %}
        </div>
    </div>

    {# Modals #}

    <div class="modal fade" style="text-align: center" id="tariefModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Tarief wijzigen</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-bottom: 0 !important;" class="modal-body">
                    <p><b>Eenvoudig trouwen</b></p>

                    <div class="row">

                        <p class="d-inline-block" style="margin: 7px 5px 0 39% !important;">€ </p>
                        <input class="d-inline-block form-control" style="width: 17.5%;" type="text" value="163.00">

                    </div>

                    <button type="button" class="btn btn-success mx-auto m-4">
                        Opslaan
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
