{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {
                'Title': 'dashboard',
                'name' : 'dashboard'|trans|capitalize,
                'breadcrumbs': [{
                    'home' : {
                        'name' : 'home',
                        'path' : 'app_default_index'
                    }
                }]
            }
            %}

            <div class="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4 full-height">
                            <div class="card-header">
                                <h3 class="d-inline-block">{{ 'user dashboard'|trans|capitalize }}</h3>
                            </div>
                            <div class="card-body">
                                <a href="{{ path('app_ud_applications') }}" class="btn btn-primary">{{ 'applications'|trans|capitalize }}</a>
                            </div> <!-- /.card-body -->
                        </div><!-- /.card -->
                    </div>
                    <div class="col-md-12">
                        {% if requests is defined and requests is not empty %}
                        {% include 'ud/widgets/requests.html.twig'
                            with {'requests': requests} %}
                        {% endif %}
                    </div>
                    <div class="col-md-6 ml-auto">
                        {% if tasks is defined and tasks is not empty %}
                        {% include 'ud/widgets/tasks.html.twig'
                            with {'tasks': tasks} %}
                        {% endif %}
                    </div><!-- /.col -->
                    <div class="col-md-6 ml-auto">
                        {% if events is defined and events is not empty %}
                        {% include 'ud/widgets/events.html.twig'
                            with {'events': events} %}
                        {% endif %}
                    </div><!-- /.col -->
                </div>
            </div>

    {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}
