<div class="card p-4 full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'requests'|trans|capitalize }}</h3>
    </div>

    {% if requests is defined %}
        <div class="card-list">
            {% for request in requests %}
                <div class="item-list">
                    <div class="info-user ml-3">

                    </div>
                    <button class="btn btn-icon btn-primary btn-round btn-s"
                            style="margin-right: 5px" data-toggle="modal"
                            data-target="#editRequest{{ request.id }}">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-icon btn-danger btn-round btn-s"
                            style="margin-right: 15px" data-toggle="modal"
                            data-target="#deleteRequest{{ request.id }}">
                        <i class="fa fa-trash"></i>
                    </button>
                </div><!-- /.item-list -->
            {% endfor %}
        </div><!-- /.card-list -->
    {% endif %}

    <div class="card-body">
    </div> <!-- /.card-body -->

    <div class="card-action">
        <a class="btn btn-info btn-block" style="margin-right: 25px" href="#addRequest"  data-toggle="modal" data-target="#addRequest">{{ 'add request'|trans|capitalize }}</a>
    </div><!-- /.card-action -->

</div><!-- /.card -->
