{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {'h1': 'Products','functie': "Producten aanpassen van de Huwelijksplanner"} %}

            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card full-height">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Partners</th>
                            <th scope="col">Locatie</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Tijdstip</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set items = products %}
                        {% set view = 'app_pdc_product' %}
                        {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>Utrecht, Stadhuis grote zaal</td>
                            <td>10-2-2020</td>
                            <td>10:50 - 11:50</td>
                            <td style="">Aangevraagd</td>
                            <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px" href="{{ path(view, {id: item.id}) }}"><b>MEER INFO</b></a></td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

{% endblock %}
