{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/dashboard_h1.html.twig' %}

            <div class="page-inner mt--5">
                <div class="row">
                {# include 'widgets/object_tables/component_table.html.twig' #}
                <table class="table table-hover">
                    <thead>
                    <tr>
                    	<td>Name</td>
                    </tr>
                    </thead>
                    <tbody>
        			{% for index, resource in resources %}
                    <tr>
                        <td>{{ resource.name }}</td>
                        <td style="color: lime">Online</td>
                        <td><a href="{{ path('app_component_resource',{'component':componentName,'resourcetype':resource['@id']}) }}" target="_blank">Github</a></td>
                    </tr>
        			{% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}

    </div>

{% endblock %}
