<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
            	{% for name,iri in resourceContext['@context']  %}
					{% if name not in component.config.hidden %}
                			<th scope="col">{{ name }}</th>
                   	{% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
			{% for index, resource in resources["hydra:member"] %}
            <tr>
            	{% for property,value in resource  %}
					{% if property not in component.config.hidden and property not in ['@id','type','@type'] %}
                	<td >{% if value  is not iterable %}{{ value }}{% endif %}</td>
                   	{% endif %}
                {% endfor %}
            </tr>
			{% endfor %}
            </tbody>
        </table>
    </div>
</div>
