<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for index, customerType in customerTypes._embedded.item %}
                <tr>
                    <td>{{ customerType.id }}</td>
                    <td>{{ customerType.name }}</td>
                    <td>{{ customerType.description }}</td>
                    <td><a href="{{ path('app_product_edit',{'id':customerType.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
