<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Indicatie overleden</th>
                <th scope="col">Datum</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
			{% for index, overlijden in overlijdens._embedded.item %}
            <tr>
                <td>{{ overlijden.uuid }}</td>
                <td>{{ overlijden.indicatie_overleden }}</td>
                <td>{{ overlijden.datum }}</td>
                <td><a href="{{ path('app_brp_edit',{'id':overlijden.id}) }}">Edit</a></td>
            </tr>
			{% endfor %}
            </tbody>
        </table>
    </div>
</div>
