<div class="col-md-12">
    <div class="card full-height">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">templateEngine</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
			{% for index, template in templates._embedded.item %}
            <tr>
                <td>{% if template.name is defined %}{{ template.name }}{% else %}{{ template.id }}{% endif %}</td>
                <td>{{ template.templateEngine }}</td>
                <td><a href="{{ path('app_resource_template',{'id':template.id}) }}">Edit</a></td>
            </tr>
			{% endfor %}
            </tbody>
        </table>
    </div>
</div>
