
<div class="input input--horizontal">
    <div>
        <label class="input__label" for="{{ property.id }}">{{ property.title }}</label>
    </div>
    <input type="file" id="file" name="newProp">
    <input type="hidden" value="{{ property.name }}" name="newPropName">
</div>

