
<div class="modal fade" style="text-align: center" id="{{ id }}" tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id }}Title" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered" role="document">
        <div class="modal-content" style="width: 850px;">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id }}Label"><b>{{ 'status log'|trans|capitalize }}</b></h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- /.header -->
            <div>
                Hallo ik ben status informatie!
            </div>
        </div><!-- /.content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
