<div class="main-header">

    {% include "menu/logo.html.twig" %}

    {% include "menu/navbar.html.twig" %}

</div>

    {% include "menu/left_sidebar.html.twig" %}

    {% include "menu/right_sidebar.html.twig" %}


