{% extends "body.html.twig" %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/babs/title_h1.html.twig' with {'h1': 'Templates','functie': 'Templates'} %}

            <div style="margin-top: -25px;" class="col-md-12">
                <div class="card full-height">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Templates</th>
                            <th scope="col">Aangemaakt</th>
                            <th scope="col">Laatst bewerkt</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set items = templates %}
                        {% set view = 'app_wrc_template' %}
                        {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.dateCreated|date("d-m-Y H:i", "Europe/Paris") }}</td>
                            <td>{{ item.dateModified|date("d-m-Y H:i", "Europe/Paris") }}</td>
                            <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px" href="{{ path(view, {id: item.id}) }}"><b>MEER INFO</b></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        {% include 'footer.html.twig' %}

    </div>

{% endblock %}
