{% extends "body.html.twig" %}

{% block title %} Huwelijk / Partnerschap
{% endblock %}

{% block buttons %}
	<a href="#" class="btn btn-secondary btn-round">Add person</a>
{% endblock %}

{% block content %}

    <div class="main-panel">
        <div class="container">

            {% include 'widgets/components_header.html.twig' %}

            <div class="page-inner">
                <div class="row">
        			<div class="col-md-3">    
							<div class="card card-dark bg-success">
    							<div class="card-header">
                                    <div class="card-head-row">
        								<div class="card-title">Ceremonie</div>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                                id="pills-tab" role="tablist">
                                                
                                                <li class="nav-item">
                                                    <a class="nav-link succes" id="pills-all" 
                                                       href="#pills-today" >+</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.card-tools -->
                                    </div><!-- /.card-head-row -->
    							</div><!-- /.card-header -->
								<div class="card-body curves-shadow">
									<div class="row">
										<div class="col-4 pr-0">
											<h3 class="fw-bold mb-1">Type</h3>
											<div class="text-small text-uppercase fw-bold op-8">Gratis</div>
										</div>
										<div class="col-4 pr-0">
											<h3 class="fw-bold mb-1">Datum</h3>
											<div class="text-small text-uppercase fw-bold op-8">2018-01-27</div>
										</div>
										<div class="col-4 pl-0 text-right">
											<h3 class="fw-bold mb-1">Tijd</h3>
											<div class="text-small text-uppercase fw-bold op-8">13:00</div>
										</div>
									</div>
								</div>
							</div><!-- /.card -->     	
							<div class="card card-dark bg-danger">
    							<div class="card-header">
                                    <div class="card-head-row">
        								<div class="card-title">Locatie</div>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                                id="pills-tab" role="tablist">
                                                
                                                <li class="nav-item">
                                                    <a class="nav-link succes" id="pills-all" 
                                                       href="#pills-today" >+</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.card-tools -->
                                    </div><!-- /.card-head-row -->
    							</div><!-- /.card-header -->
								<div class="card-body curves-shadow">
									<div class="row">
										<div class="col-6 pr-0">
											<h3 class="fw-bold mb-1">Stadhuis</h3>
											<div class="text-small text-uppercase fw-bold op-8">Agenda</div>
										</div>
										<div class="col-6 pl-0 text-right">
											<h3 class="fw-bold mb-1">Instemming</h3>
											<div class="text-small text-uppercase fw-bold op-8">Afgewezen</div>
										</div>
									</div>
								</div>
							</div><!-- /.card -->   
							<div class="card card-dark bg-warning">		
    							<div class="card-header">
                                    <div class="card-head-row">
        								<div class="card-title">Ambtenaar</div>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                                id="pills-tab" role="tablist">
                                                
                                                <li class="nav-item">
                                                    <a class="nav-link succes" id="pills-all" 
                                                       href="#pills-today" >+</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.card-tools -->
                                    </div><!-- /.card-head-row -->
    							</div><!-- /.card-header -->
								<div class="card-body curves-shadow">
									<div class="row">
										<div class="col-6 pr-0">
											<h3 class="fw-bold mb-1">Ruben van der linde</h3>
											<div class="text-small text-uppercase fw-bold op-8">Agenda</div>
										</div>
										<div class="col-6 pl-0 text-right">
											<h3 class="fw-bold mb-1">Instemming</h3>
											<div class="text-small text-uppercase fw-bold op-8">Verlopen</div>
										</div>
									</div>
								</div>
							</div><!-- /.card -->    
                	</div><!-- /.coll --> 
        			<div class="col-md-3">     	
						<div class="card">							
    							<div class="card-header">
    								<div class="card-title">Checklist </div>
    							</div><!-- /.card-header -->
    							<div class="card-body">			
    								<small class="form-text text-muted">This resource is connected to the following resources</small>	
    							</div><!-- /.card-body -->
						</div><!-- /.card -->  
                	</div><!-- /.coll -->
        			<div class="col-md-3">      
						<div class="card">						
    							<div class="card-header">
                                    <div class="card-head-row">
        								<div class="card-title">Partners</div>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                                id="pills-tab" role="tablist">
                                                
                                                <li class="nav-item">
                                                    <a class="nav-link succes" id="add_partner" 
                                                       href="#" >+</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.card-tools -->
                                    </div><!-- /.card-head-row -->
    							</div><!-- /.card-header -->
    							<div class="card-body">			
    								<small class="form-text text-muted">This resource is connected to the following resources</small>	
    							</div><!-- /.card-body -->
						</div><!-- /.card -->     	
						<div class="card">						
    							<div class="card-header">
                                    <div class="card-head-row">
        								<div class="card-title">Getuigen</div>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                                id="pills-tab" role="tablist">
                                                
                                                <li class="nav-item">
                                                    <a class="nav-link succes" id="add_getuige"
                                                       href="#" >+</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.card-tools -->
                                    </div><!-- /.card-head-row -->
    							</div><!-- /.card-header -->
    							<div class="card-body">			
    								<small class="form-text text-muted">This resource is connected to the following resources</small>	
    							</div><!-- /.card-body -->
						</div><!-- /.card -->
                	</div><!-- /.coll --> 
        			<div class="col-md-3">        	
						<div class="card">							
    							<div class="card-header">
                                    <div class="card-head-row">
        								<div class="card-title">Extras</div>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                                id="pills-tab" role="tablist">
                                                
                                                <li class="nav-item">
                                                    <a class="nav-link succes" id="pills-all" 
                                                       href="#pills-today" >+</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.card-tools -->
                                    </div><!-- /.card-head-row -->
    							</div><!-- /.card-header -->
    							<div class="card-body">			
    								<small class="form-text text-muted">This resource is connected to the following resources</small>	
    							</div><!-- /.card-body -->
						</div><!-- /.card -->     	
						<div class="card">							
    							<div class="card-header">
                                    <div class="card-head-row">
        								<div class="card-title">Documenten</div>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                                id="pills-tab" role="tablist">
                                                
                                                <li class="nav-item">
                                                    <a class="nav-link succes" id="pills-all" 
                                                       href="#pills-today" >+</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.card-tools -->
                                    </div><!-- /.card-head-row -->
    							</div><!-- /.card-header -->
    							<div class="card-body">			
    								<small class="form-text text-muted">This resource is connected to the following resources</small>	
    							</div><!-- /.card-body -->
						</div><!-- /.card -->
						<div class="card">							
    							<div class="card-header">
                                    <div class="card-head-row">
        								<div class="card-title">Berichten</div>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                                id="pills-tab" role="tablist">
                                                
                                                <li class="nav-item">
                                                    <a class="nav-link succes" id="pills-all" 
                                                       href="#pills-today" >+</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.card-tools -->
                                    </div><!-- /.card-head-row -->
    							</div><!-- /.card-header -->
    							<div class="card-body">			
    								<small class="form-text text-muted">This resource is connected to the following resources</small>	
    							</div><!-- /.card-body -->
						</div><!-- /.card -->
						<div class="card">							
    							<div class="card-header">
                                    <div class="card-head-row">
        								<div class="card-title">Notities</div>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                                id="pills-tab" role="tablist">
                                                
                                                <li class="nav-item">
                                                    <a class="nav-link succes" id="pills-all" 
                                                       href="#pills-today" >+</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.card-tools -->
                                    </div><!-- /.card-head-row -->
    							</div><!-- /.card-header -->
    							<div class="card-body">			
    								<small class="form-text text-muted">This resource is connected to the following resources</small>	
    							</div><!-- /.card-body -->
						</div><!-- /.card -->
                	</div><!-- /.coll -->
        		</div><!-- /.row -->
        	</div><!-- /.page-inner -->
        </div><!-- /.container -->

        {% include 'footer.html.twig' %}

    </div><!-- /.main-panel -->

{% endblock %}

{% block javascript %}
	<!-- Summernote -->
	<script src="/assets/js/plugin/summernote/summernote-bs4.min.js"></script>
	
	<script>
		$('#content').summernote({
			placeholder: 'Atlantis',
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
			tabsize: 2,
			height: 300
		});


		$('#add_getuige').click(function(e){
			swal({
				title: 'Add a getuige',
				html: '<br><input class="form-control" placeholder="Input Something" id="input-field">',
				content: {
					element: "input",
					attributes: {
						placeholder: "Input Something",
						type: "text",
						id: "input-field",
						className: "form-control"
					},
				},
				buttons: {
					cancel: {
						visible: true,
						className: 'btn btn-danger'
					},        			
					confirm: {
						className : 'btn btn-success'
					}
				},
			}).then(
			function() {
				swal("", "You entered : " + $('#input-field').val(), "success");
			}
			);
		});
		
		$('#add_partner').click(function(e){
			swal({
				title: 'Add a partner',
				html: '<br><input class="form-control" placeholder="Input Something" id="input-field">',
				content: {
					element: "input",
					attributes: {
						placeholder: "Input Something",
						type: "text",
						id: "input-field",
						className: "form-control"
					},
				},
				buttons: {
					cancel: {
						visible: true,
						className: 'btn btn-danger'
					},        			
					confirm: {
						className : 'btn btn-success'
					}
				},
			}).then(
			function() {
				swal("", "You entered : " + $('#input-field').val(), "success");
			}
			);
		});
		
	</script>
{% endblock %}
