<div class="card full-height">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'cases'|trans|capitalize }}</h3>
    </div>
    <div class="card-body">
        {% if cases is defined %}
            <div class="card-list">
                {% for case in cases %}
                    {% set case = commonground_resource(case) %}
                    <div class="item-list">
                        <div class="info-user ml-3">
                            {{ dump(case) }}
                        </div>
                    </div><!-- /.item-list -->
                {% endfor %}
            </div><!-- /.card-list -->
        {% endif %}
    </div>
</div><!-- /.card -->
