
<div class="card p-4 full-height">
    <div class="card-header">
        <h2 class="d-inline-block">Opmerkingen</h2>
        <button style="padding: 7px 14px 7px 14px;" type="button"
                class="btn btn-primary float-right"
                data-toggle="modal" data-target="#contactModal"><i style=""
                                                                   class="fas fa-plus"></i>
        </button>
    </div>
    <div style="margin-left: 12.5px;border-bottom: 1px solid #ebecec">
        <h4 style="margin: 10px; margin-top: 20px"><b>24-1-2020</b></h4>
        <h5 style="margin: 10px"><b>Opmerking:</b></h5>
        <p style="margin: 10px">M. Timmers heeft verzocht om de trouwlocatie te wijzigen naar de
            grote zaal.</p>
    </div>
</div>
