<div class="card full-height" style="min-height: 150px;">
    <div class="card-header">
        <h3 class="d-inline-block">{{ 'messages'|trans|capitalize }}</h3>
    </div>
    {% if messages is defined %}
        <div class="card-list">
            {% for message in messages %}
                <div class="item-list">
                    <div class="info-user ml-3">
                        <div class="username"><h4>{{ message.name }}</h4></div>
                        <div class="status">{{ 'message'|trans|capitalize }}: {{ message.message }}</div>
                    </div>
                    </a>
                </div><!-- /.item-list -->
            {% endfor %}
        </div>
    {% endif %}
</div><!-- /.card -->
