
<div class="card p-4 full-height">
    <form action="{{ path('app_vrc_request', {id: resource.id}) }}" method="post">
        <div class="card-header">
            <h2 class="d-inline-block">Checklist</h2>
        </div>
        <table class="table table-hover">
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: limegreen;" class="fas fa-check"></i></td>
                <th>Ceremonie</th>
                <td>Huwelijk</td>
                <td>
                    <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                            class="btn btn-primary"
                            data-toggle="modal" data-target="#ceremonieModal"><i style=""
                                                                                 class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: limegreen;" class="fas fa-check"></i></td>
                <th>Plechtigheid</th>
                <td>Trouwen</td>
                <td>
                    <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                            class="btn btn-primary"
                            data-toggle="modal" data-target="#plechtigheidModal"><i style=""
                                                                                    class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: limegreen;" class="fas fa-check"></i></td>
                <th>Locatie</th>
                <td>Utrecht, stadhuis grote zaal</td>
                <td>
                    <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                            class="btn btn-primary"
                            data-toggle="modal" data-target="#locatieModal"><i style=""
                                                                               class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: limegreen;" class="fas fa-check"></i></td>
                <th>Datum</th>
                <td>10-2-2020</td>
                <td>
                    <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                            class="btn btn-primary"
                            data-toggle="modal" data-target="#datumModal"><i style=""
                                                                             class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: limegreen;" class="fas fa-check"></i></td>
                <th>Tijdstip</th>
                <td>10:50 - 11:50</td>
                <td>
                    <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                            class="btn btn-primary"
                            data-toggle="modal" data-target="#tijdstipModal"><i style=""
                                                                                class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: limegreen;" class="fas fa-check"></i></td>
                <th>Babs</th>
                <td>Dhr. Erik Hendrik</td>
                <td>
                    <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                            class="btn btn-primary"
                            data-toggle="modal" data-target="#babsModal"><i style=""
                                                                            class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: red;">X</i></td>
                <th>Getuigen</th>
                <td>John Doe<br>
                    Jane Doe<br>
                </td>
                <td>
                    <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                            class="btn btn-primary"
                            data-toggle="modal" data-target="#getuigenModal"><i style=""
                                                                                class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: limegreen;" class="fas fa-check"></i></td>
                <th>Tolk</th>
                <td style="color: lightgray">Niet van toepassing</td>
                <td>
                    <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                            class="btn btn-primary"
                            data-toggle="modal" data-target="#tolkModal"><i style=""
                                                                            class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: limegreen;" class="fas fa-check"></i></td>
                <th>Extra's</th>
                <td>Trouwboek</td>
                <td>
                    <button style="margin-left: 80%;padding: 7px 14px 7px 14px;" type="button"
                            class="btn btn-primary"
                            data-toggle="modal" data-target="#extraModal"><i style=""
                                                                             class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: red;">X</i></td>
                <th>Status</th>
                <td>In behandeling</td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 75px !important; padding-right: 0 !important; text-align: center">
                    <i style="color: limegreen;" class="fas fa-check"></i></td>
                <th>Betaald</th>
                <td>Ja</td>
                <td></td>
            </tr>

        </table>

        <br>

        <table class="table table-hover">
            <tr>
                <th>Datum verzoek verzonden</th>
                <td>15-1-2020</td>
                <td></td>
            </tr>
            <tr>
                <th>Tijdstip verzoek verzonden</th>
                <td>16:30</td>
                <td></td>
            </tr>
        </table>
</div>
