<div class="card p-4 full-height">
    <div class="card-header">
        <h2>Persoonsgegevens</h2>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Naam</th>
            <th><p class="mb-0 pt-1 d-inline-block">Martin Timmers</p>
                <button style="padding: 4px; float: right" type="button"
                        class="btn btn-primary"
                        data-toggle="modal" data-target="#partner1Modal"><i style=""
                                                                            class="fas fa-edit"></i>
                </button></th>
            <th><p class="mb-0 pt-1 d-inline-block">Anita Henrika de Kieft</p>
                <button style="padding: 4px; float: right" type="button"
                        class="btn btn-primary"
                        data-toggle="modal" data-target="#partner2Modal"><i style=""
                                                                            class="fas fa-edit"></i>
                </button></th>
        </tr>
        <tr>
            <th>Telefoonnummer</th>
            <td><p class="mb-0 pt-1 d-inline-block">06 12345678</p>
                <button style="padding: 4px; float: right" type="button"
                        class="btn btn-primary"
                        data-toggle="modal" data-target="#partner1PhoneModal"><i style=""
                                                                                 class="fas fa-edit"></i>
                </button></td>
            <td><p class="mb-0 pt-1 d-inline-block">06 12345678</p>
                <button style="padding: 4px; float: right" type="button"
                        class="btn btn-primary"
                        data-toggle="modal" data-target="#partner2PhoneModal"><i style=""
                                                                                 class="fas fa-edit"></i>
                </button></td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><p class="mb-0 pt-1 d-inline-block">martin@timmers.com</p>
                <button style="padding: 4px; float: right" type="button"
                        class="btn btn-primary"
                        data-toggle="modal" data-target="#partner1EmailModal"><i style=""
                                                                                 class="fas fa-edit"></i>
                </button></td>
            <td><p class="mb-0 pt-1 d-inline-block">anita@dekieft.com</p>
                <button style="padding: 4px; float: right" type="button"
                        class="btn btn-primary"
                        data-toggle="modal" data-target="#partner2EmailModal"><i style=""
                                                                                 class="fas fa-edit"></i>
                </button></td>
        </tr>
        <tr>
            <th>Naamgebruik</th>
            <td><p class="mb-0 pt-1 d-inline-block">Timmers</p>
                <button style="padding: 4px; float: right" type="button"
                        class="btn btn-primary"
                        data-toggle="modal" data-target="#partner1NaamModal"><i style=""
                                                                                class="fas fa-edit"></i>
                </button></td>
            <td><p class="mb-0 pt-1 d-inline-block">Henrika Timmers</p>
                <button style="padding: 4px; float: right" type="button"
                        class="btn btn-primary"
                        data-toggle="modal" data-target="#partner2NaamModal"><i style=""
                                                                                class="fas fa-edit"></i>
                </button></td>
            <td>
            </td>
        </tr>
        <tr>
            <th>Leeftijd</th>
            <td>34 jaar</td>
            <td>37 jaar</td>
        </tr>
        <tr>
            <th>Nederlandstalig</th>
            <td>Ja</td>
            <td>Ja</td>
        </tr>
        <tr>
            <th>Oudersgegevens</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Curatele</th>
            <td style="color: lightgray">Niet van toepassing</td>
            <td style="color: lightgray">Niet van toepassing</td>
        </tr>
        <tr>
            <th>Verblijfstitel</th>
            <td style="color: lightgray">Niet van toepassing</td>
            <td style="color: lightgray">Niet van toepassing</td>
        </tr>
        <tr>
            <th>Schijnhuwelijksverklaring</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Speciale opmerking</th>
            <td style="color: lightgray">Niet van toepassing</td>
            <td style="color: lightgray">Niet van toepassing</td>
        </tr>
    </table>
</div>
